.navbar
{
    background-color: orangered;
    padding: 5px !important;
}

nav li
{
    color: white !important;
    padding-right: 2em;
}

.nav-link:hover
{
    text-shadow: 2px 0px 8px black;

}


li a
{
    text-decoration: none;
    color: white !important;
}


.logoHeader{
    width: 5em;
}

.fa-twitter
{
    color: white;
    padding-right: 4px;
}

.fa-twitter:hover
{
    color: black;
}

.fa-slack-hash
{
    color: white;
    padding-right: 4px;
}

.fa-slack-hash:hover
{
    color: black;
}

.fa-youtube
{
    color: white;
}

.fa-youtube:hover
{
    color: black;
}

.fa-facebook
{
    color: white;
}

.fa-facebook:hover
{
    color: black;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.centered
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-family: 'Patua One', cursive;
    color: orangered;
    text-shadow: 3px 3px 0 #000000;
    line-height: 0.86em;
}

footer
{
    background-color: orangered;
    color: white;
    text-align: center;
    padding-top: 1.5em;
    line-height: 0.5em;
}

footer a
{
    text-decoration: none;
    color: white;
}

footer a:hover
{
    color: black;
}

.spread
{
    margin-top: 1em;
    margin-bottom: 4em;
}

.map
{
    width: 350px;
    height: 300px;
    border:0;
    padding-bottom: 4em;
}

form_main {
    width: 100%;
}
.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
}
.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt2[type="submit"] {
    background: orangered none repeat scroll 0 0;
    border: 2px solid black;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 5px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.txt2:hover {
    background: black none repeat scroll 0 0;
    color: orangered;
    transition: all 0.5s ease 0s;
}



.fa-angle-double-left{
    color: white;
    background-color: orangered;
}

.fa-angle-double-right{
    color: white;
    background-color: orangered;
}

.margen{
    border: 0.2em solid transparent;
    padding: 0.5em;
}

.align-text-top{

    text-align: center;
    font-size: 1.5em;
    font-family: 'Patua One', cursive;
    color: orangered;
    text-shadow: 1px 1px 0 #000000;
}

.align-text-bottom{
    text-align: left;
    background-color: orangered;
    transform: translate(0%, 0%);
    font-size: 100%;
    font-family: 'Patua One', cursive;
    color: white;
    text-shadow: 1px 1px 0 #000000;
}

.precio{
    text-align: center;
    background-color: yellow;
    transform: translate(0%, 0%);
    font-size: 100%;
    font-family: 'Patua One', cursive;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 577px) {

    #quien-somos {
        background-color: orangered;
        height: 500px;
    }
}

@media screen and (min-width: 576px) {

    #quien-somos {
        background: url("../images/traveler.jpg");
        -webkit-background-size: cover;
        height: 500px;
    }
}

#texto{
    background-color: white;
    height: 360px;
    width: 400px;
    position: relative;
    top:50px;
    left: 70px;
    padding: 20px;
}

.btn-boton,
.btn-boton:active {
    font-size: 100%;
    font-family: 'Patua One', cursive;
    color: white;
    text-shadow: 1px 1px 0 #000000;
    background-color: orangered;
}

.btn-boton:hover
{
    background: black none repeat scroll 0 0;
}